/AutomationExcelOperation/AutomationExcelOperation/obj
/AutomationExcelOperation/AutomationExcelOperation/bin
/AutomationExcelOperation/packages
/AutomationExcelOperation/.vs
/AutomationExcelOperation/DAL/obj
/AutomationExcelOperation/DAL/bin
/AutomationExcelOperation/ExcelCommon/bin
/AutomationExcelOperation/ExcelCommon/obj
